@font-face {
    font-family: "lynus";
    src: url("fonts/lynus.eot?sy8u5p");
    src: url("fonts/lynus.eot?sy8u5p#iefix") format("embedded-opentype"),
    url("fonts/lynus.ttf?sy8u5p") format("truetype"),
    url("fonts/lynus.woff?sy8u5p") format("woff"),
    url("fonts/lynus.svg?sy8u5p#lynus") format("svg");
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "lynus" !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-charging_power_3:before {
    content: "\e9c0";
    color: #727272;
}

.icon-charging_power_5:before {
    content: "\e9c3";
    color: #727272;
}

.icon-compare:before {
    content: "\e9c2";
    color: #727272;
}

.icon-heating:before {
    content: "\e9c1";
    color: #7b7b7b;
}

.icon-chart_stacking:before {
    content: "\e9be";
    color: #727272;
}

.icon-toggle_y:before {
    content: "\e9bf";
    color: #727272;
}

.icon-cooling_air:before {
    content: "\e9ba";
    color: #707070;
}

.icon-heating_air:before {
    content: "\e9bb";
    color: #707070;
}

.icon-hybrid_air:before {
    content: "\e9bc";
    color: #707070;
}

.icon-hybrid_water:before {
    content: "\e9bd";
    color: #707070;
}

.icon-general_switch:before {
    content: "\e9b9";
    color: #707070;
}

.icon-energy_view:before {
    content: "\e9b8";
    color: #707070;
}

.icon-ronova_account:before {
    content: "\e9b2";
}

.icon-ronova_terms:before {
    content: "\e9b3";
}

.icon-ronova_home:before {
    content: "\e9b4";
}

.icon-ronova_imprint:before {
    content: "\e9b5";
}

.icon-ronova_logout:before {
    content: "\e9b6";
}

.icon-ronova_support:before {
    content: "\e9b7";
}

.icon-ronova_chevron_left:before {
    content: "\e996";
}

.icon-ronova_chevron_right:before {
    content: "\e9ab";
}

.icon-solar_panel:before {
    content: "\e9aa";
    color: #6b6b6b;
}

.icon-ronova_survey_client:before {
    content: "\e9a9";
}

.icon-ronova_upload:before {
    content: "\e9a8";
}

.icon-ronova_battery_0:before {
    content: "\e9b1";
}

.icon-ronova_battery_25:before {
    content: "\e990";
}

.icon-ronova_battery_50:before {
    content: "\e991";
}

.icon-ronova_battery_75:before {
    content: "\e992";
}

.icon-ronova_battery_100:before {
    content: "\e993";
}

.icon-ronova_battery_charge:before {
    content: "\e994";
}

.icon-ronova_cancel:before {
    content: "\e995";
}

.icon-ronova_close_figure:before {
    content: "\e997";
}

.icon-ronova_gps_fix:before {
    content: "\e998";
}

.icon-ronova_gps_no_fix:before {
    content: "\e999";
}

.icon-ronova_info:before {
    content: "\e99a";
}

.icon-ronova_lte_full:before {
    content: "\e99b";
}

.icon-ronova_lte_low:before {
    content: "\e99c";
}

.icon-ronova_lte_med:before {
    content: "\e99d";
}

.icon-ronova_lte_no:before {
    content: "\e99e";
}

.icon-ronova_menu:before {
    content: "\e99f";
}

.icon-ronova_more:before {
    content: "\e9a0";
}

.icon-ronova_pause:before {
    content: "\e9a1";
}

.icon-ronova_play:before {
    content: "\e9a2";
}

.icon-ronova_record:before {
    content: "\e9a3";
}

.icon-ronova_robot:before {
    content: "\e9a4";
}

.icon-ronova_send:before {
    content: "\e9a5";
}

.icon-ronova_settings:before {
    content: "\e9a6";
}

.icon-ronova_spindle:before {
    content: "\e9a7";
}

.icon-ronova_warning:before {
    content: "\e9ac";
}

.icon-ronova_wifi_full:before {
    content: "\e9ad";
}

.icon-ronova_wifi_low:before {
    content: "\e9ae";
}

.icon-ronova_wifi_med:before {
    content: "\e9af";
}

.icon-ronova_wifi_no:before {
    content: "\e9b0";
}

.icon-fresh_water:before {
    content: "\e98e";
    color: #707070;
}

.icon-waste_water:before {
    content: "\e98f";
    color: #707070;
}

.icon-AI-ML:before {
    content: "\e900";
    color: #707070;
}

.icon-areas:before {
    content: "\e901";
    color: #707070;
}

.icon-arrow_down:before {
    content: "\e902";
    color: #6b6b6b;
}

.icon-arrow_left:before {
    content: "\e903";
    color: #6b6b6b;
}

.icon-arrow_right:before {
    content: "\e904";
    color: #6b6b6b;
}

.icon-arrow_up:before {
    content: "\e905";
    color: #6b6b6b;
}

.icon-arrow-2_down:before {
    content: "\e906";
    color: #6b6b6b;
}

.icon-arrow-2_left:before {
    content: "\e907";
    color: #6b6b6b;
}

.icon-arrow-2_right:before {
    content: "\e908";
    color: #6b6b6b;
}

.icon-arrow-2_up:before {
    content: "\e909";
    color: #6b6b6b;
}

.icon-arrow-direction-left:before {
    content: "\e90a";
    color: #707070;
}

.icon-arrow-direction-right:before {
    content: "\e90b";
    color: #707070;
}

.icon-arrow-down-in-circle:before {
    content: "\e90c";
    color: #707070;
}

.icon-arrow-left-in-circle:before {
    content: "\e90d";
    color: #707070;
}

.icon-arrow-right-in-circle:before {
    content: "\e90e";
    color: #707070;
}

.icon-arrow-up-in-circle:before {
    content: "\e90f";
    color: #707070;
}

.icon-auto-mode:before {
    content: "\e910";
    color: #707070;
}

.icon-avatar:before {
    content: "\e911";
    color: #707070;
}

.icon-awning:before {
    content: "\e912";
    color: #707070;
}

.icon-battery:before {
    content: "\e913";
    color: #6a6a6a;
}

.icon-billing:before {
    content: "\e914";
    color: #707070;
}

.icon-blinds:before {
    content: "\e915";
    color: #707070;
}

.icon-chat:before {
    content: "\e916";
    color: #707070;
}

.icon-checkmark:before {
    content: "\e917";
    color: #707070;
}

.icon-co2:before {
    content: "\e918";
    color: #7b7b7b;
}

.icon-cold-water:before {
    content: "\e919";
    color: #7b7b7b;
}

.icon-compass_east:before {
    content: "\e91a";
    color: #707070;
}

.icon-compass_north:before {
    content: "\e91b";
    color: #707070;
}

.icon-compass_south:before {
    content: "\e91c";
    color: #707070;
}

.icon-compass_west:before {
    content: "\e91d";
    color: #707070;
}

.icon-connected:before {
    content: "\e91e";
    color: #707070;
}

.icon-counter-used-water:before {
    content: "\e91f";
    color: #6a6a6a;
}

.icon-darkmode:before {
    content: "\e920";
    color: #707070;
}

.icon-devices-library:before {
    content: "\e921";
    color: #707070;
}

.icon-devices:before {
    content: "\e922";
    color: #707070;
}

.icon-documentation:before {
    content: "\e923";
    color: #707070;
}

.icon-download:before {
    content: "\e924";
    color: #6b6b6b;
}

.icon-drag:before {
    content: "\e925";
    color: #707070;
}

.icon-electric-charging-boiler:before {
    content: "\e926";
    color: #707070;
}

.icon-electric-charging-station:before {
    content: "\e927";
    color: #707070;
}

.icon-electrical_voltage:before {
    content: "\e928";
    color: #707070;
}

.icon-electrical-power-consumption_tarif_1:before {
    content: "\e929";
    color: #707070;
}

.icon-electrical-power-consumption_tarif_2:before {
    content: "\e92a";
    color: #707070;
}

.icon-electrical-power-consumption_tarif_3:before {
    content: "\e92b";
    color: #707070;
}

.icon-electrical-power-consumption_tarif_4:before {
    content: "\e92c";
    color: #707070;
}

.icon-electrical-power-production_tarif_1:before {
    content: "\e92d";
    color: #707070;
}

.icon-electrical-power-production_tarif_2:before {
    content: "\e92e";
    color: #707070;
}

.icon-electrical-power-production_tarif_3:before {
    content: "\e92f";
    color: #707070;
}

.icon-electrical-power-production_tarif_4:before {
    content: "\e930";
    color: #707070;
}

.icon-electricity_meter:before {
    content: "\e931";
    color: #6a6a6a;
}

.icon-electricity:before {
    content: "\e932";
    color: #6a6a6a;
}

.icon-eventlist:before {
    content: "\e933";
    color: #707070;
}

.icon-fault:before {
    content: "\e934";
    color: #707070;
}

.icon-favourites:before {
    content: "\e935";
    color: #6b6b6b;
}

.icon-forward:before {
    content: "\e936";
    color: #707070;
}

.icon-general:before {
    content: "\e937";
    color: #707070;
}

.icon-generator:before {
    content: "\e938";
    color: #707070;
}

.icon-heating_meter:before {
    content: "\e939";
    color: #707070;
}

.icon-heating-capacity-consumption_tarif_1:before {
    content: "\e93a";
    color: #707070;
}

.icon-heating-capacity-consumption_tarif_2:before {
    content: "\e93b";
    color: #707070;
}

.icon-heating-capacity:before {
    content: "\e93c";
    color: #707070;
}

.icon-home:before {
    content: "\e93d";
    color: #707070;
}

.icon-hot-water:before {
    content: "\e93e";
    color: #7b7b7b;
}

.icon-house-consumption:before {
    content: "\e93f";
    color: #707070;
}

.icon-humidity:before {
    content: "\e940";
    color: #707070;
}

.icon-imprint:before {
    content: "\e941";
    color: #707070;
}

.icon-inactive-mode:before {
    content: "\e942";
    color: #7b7b7b;
}

.icon-info-in-circle:before {
    content: "\e943";
    color: #707070;
}

.icon-language:before {
    content: "\e944";
    color: #707070;
}

.icon-light-bulb:before {
    content: "\e945";
    color: #707070;
}

.icon-light-switch_off:before {
    content: "\e946";
    color: #707070;
}

.icon-light-switch_on:before {
    content: "\e947";
    color: #707070;
}

.icon-location:before {
    content: "\e948";
    color: #707070;
}

.icon-log-out:before {
    content: "\e949";
    color: #6b6b6b;
}

.icon-main-connection:before {
    content: "\e94a";
    color: #707070;
}

.icon-manual-mode:before {
    content: "\e94b";
    color: #707070;
}

.icon-members:before {
    content: "\e94c";
    color: #707070;
}

.icon-minus:before {
    content: "\e94d";
    color: #707070;
}

.icon-mixing-valve:before {
    content: "\e94e";
    color: #707070;
}

.icon-moon:before {
    content: "\e94f";
    color: #6b6b6b;
}

.icon-motion-sensor:before {
    content: "\e950";
    color: #707070;
}

.icon-motor:before {
    content: "\e951";
    color: #707070;
}

.icon-mqtt:before {
    content: "\e952";
    color: #707070;
}

.icon-music:before {
    content: "\e953";
    color: #707070;
}

.icon-next:before {
    content: "\e954";
    color: #707070;
}

.icon-notification-bell_red .path1:before {
    content: "\e955";
    color: rgb(232, 59, 58);
}

.icon-notification-bell_red .path2:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(112, 112, 112);
}

.icon-notification-bell_red .path3:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(112, 112, 112);
}

.icon-notification-bell:before {
    content: "\e958";
    color: #707070;
}

.icon-notification:before {
    content: "\e959";
    color: #707070;
}

.icon-ok:before {
    content: "\e95a";
    color: #707070;
}

.icon-paperclip:before {
    content: "\e95b";
    color: #707070;
}

.icon-pause:before {
    content: "\e95c";
    color: #707070;
}

.icon-permission:before {
    content: "\e95d";
    color: #707070;
}

.icon-photovoltaic:before {
    content: "\e95e";
    color: #6b6b6b;
}

.icon-play:before {
    content: "\e95f";
    color: #707070;
}

.icon-plus:before {
    content: "\e960";
    color: #707070;
}

.icon-previous:before {
    content: "\e961";
    color: #707070;
}

.icon-pump:before {
    content: "\e962";
    color: #707070;
}

.icon-push_button:before {
    content: "\e963";
    color: #707070;
}

.icon-push_reset:before {
    content: "\e964";
    color: #707070;
}

.icon-rainfall:before {
    content: "\e965";
    color: #7b7b7b;
}

.icon-repository:before {
    content: "\e966";
    color: #707070;
}

.icon-reverse:before {
    content: "\e967";
    color: #707070;
}

.icon-scenes:before {
    content: "\e968";
    color: #707070;
}

.icon-search:before {
    content: "\e969";
    color: #707070;
}

.icon-searching:before {
    content: "\e96a";
    color: #707070;
}

.icon-send:before {
    content: "\e96b";
    color: #707070;
}

.icon-settings:before {
    content: "\e96c";
    color: #707070;
}

.icon-shutter1:before {
    content: "\e96d";
    color: #7b7b7b;
}

.icon-shutter2:before {
    content: "\e96e";
    color: #707070;
}

.icon-socket-switch:before {
    content: "\e96f";
    color: #707070;
}

.icon-stop:before {
    content: "\e970";
    color: #707070;
}

.icon-support:before {
    content: "\e971";
    color: #6e6e6e;
}

.icon-television:before {
    content: "\e972";
    color: #707070;
}

.icon-temperature_difference:before {
    content: "\e973";
    color: #707070;
}

.icon-temperature_forward:before {
    content: "\e974";
    color: #707070;
}

.icon-temperature_return:before {
    content: "\e975";
    color: #707070;
}

.icon-temperature:before {
    content: "\e976";
    color: #707070;
}

.icon-terms-and-conditions:before {
    content: "\e977";
    color: #707070;
}

.icon-thermostat:before {
    content: "\e978";
    color: #707070;
}

.icon-ticket:before {
    content: "\e979";
    color: #707070;
}

.icon-time:before {
    content: "\e97a";
    color: #707070;
}

.icon-total-electrical-power_tarif_1:before {
    content: "\e97b";
    color: #656565;
}

.icon-total-electrical-power_tarif_2:before {
    content: "\e97c";
    color: #656565;
}

.icon-total-electrical-power_tarif_3:before {
    content: "\e97d";
    color: #656565;
}

.icon-total-electrical-power_tarif_4:before {
    content: "\e97e";
    color: #656565;
}

.icon-trash:before {
    content: "\e97f";
    color: #707070;
}

.icon-upload:before {
    content: "\e980";
    color: #6b6b6b;
}

.icon-value-flow:before {
    content: "\e981";
    color: #6b6b6b;
}

.icon-variables:before {
    content: "\e982";
    color: #6a6a6a;
}

.icon-ventilation:before {
    content: "\e983";
    color: #707070;
}

.icon-ventilator:before {
    content: "\e984";
    color: #707070;
}

.icon-volume-minus:before {
    content: "\e985";
    color: #707070;
}

.icon-volume-plus:before {
    content: "\e986";
    color: #707070;
}

.icon-warning:before {
    content: "\e987";
    color: #707070;
}

.icon-water_level:before {
    content: "\e988";
    color: #7b7b7b;
}

.icon-weather-station:before {
    content: "\e989";
    color: #6b6b6b;
}

.icon-windspeed:before {
    content: "\e98a";
    color: #707070;
}

.icon-workbench:before {
    content: "\e98b";
    color: #707070;
}

.icon-x-in-circle:before {
    content: "\e98c";
    color: #707070;
}

.icon-x:before {
    content: "\e98d";
    color: #707070;
}
