# generated initial version with https://www.npmjs.com/package/gitignore-to-dockerignore

# git

# dart, flutter
**/.dart_tool
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/flutter_export_environment.sh
**/Generated.xcconfig
**/local.properties
**/GeneratedPluginRegistrant.*
**/.gradle
**/.tmp
**/assets.tmp.zip
**/build
**/key.jks
**/key.properties
**/Pods
**/Flutter.podspec
**/.symlinks

# idea
**/shelf
**/workspace.xml
**/libraries
**/app/android/.idea/modules
**/dataSources
**/dataSources.local.xml

# xcode
**/*.xcuserstate

# documentation


# python
**/*.pyc

# node
**/node_modules
**/dist

# mac
**/.DS_Store

# sps
/sps
/projects
/teltonika