# dart, flutter
.dart_tool
.packages
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh
Generated.xcconfig
local.properties
GeneratedPluginRegistrant.*
.gradle
.tmp
assets.tmp.zip
build
key.jks
key.properties
Pods
Flutter.podspec
.symlinks

# idea
shelf
workspace.xml
libraries
app/android/.idea/modules
.idea/dataSources
dataSources.local.xml

# xcode
*.xcuserstate

# documentation
docs/go
docs/javascript
docs/python

# python
*.pyc

# node
node_modules
dist

# mac
.DS_Store

# VisualStudio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
__debug_bin

# Terraform
*.tfstate.lock.info
*.tfstate.backup
.terraform
.terraform.lock.hcl

# TwinCAT files
*.tpy
*.compileinfo
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_Libraries/
_ModuleInstall/

# local env
**/tmp
*venv/
*init_variables.sh

# setpoint optimizer studies
Studies

# sonarqube folders
**/.scannerwork/**
.env.*

keycloak/opt-qr-rest/target/**

# console
.env.*
/.metadata/
console/.env.*

# local datasets
/ai/Disaggregation/data/*
.env.*
.env
console/components.d.ts
