:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.produktion {
    justify-content: center;
}

.column {
    width: 100%;
    background: var(--default);
}

.graph {
    align-items: flex-end;
}

.value {
    margin: auto 0;
    align-items: baseline;
}