<div class="box">
  <div class="box-content flex flex-column">
    <p
      class="mb-2"
      [style.font-size]="titleFontSize"
      [style.color]="userData?.colors?.default"
    >
      {{ title }}
    </p>
    <div class="flex value flex-shrink-1 min-height-width-reset">
      <div class="width-25 image height-100">
        <i
          [ngClass]="icon"
          [style.font-size]="numberFontSize"
          [style.color]="userData?.colors?.default"
        ></i>
      </div>
      <!-- <div class="width-25 flex graph">
            <div *ngFor="let x of week" class="column mr-2" [style.background]="userData?.colors?.default" [style.height]="getHeight(x)"></div>
        </div> -->
      <div class="width-75 flex produktion">
        <p
          class="highlighted-text default-text-transform"
          [style.color]="userData?.colors?.secondary"
          [style.font-size]="numberFontSize"
        >
          {{ power }} {{ unit }}
        </p>
      </div>
    </div>
  </div>
</div>
