<div class="box">
    <div class="flex box-content">
        <div class="width-30 image">
            <img src="assets/icons/cs-aggregated-current-connected-cars.svg" alt="E-ladesäulen autos" />
        </div>
        <div class="width-70 flex flex-column center">
            <p class="mb-2" [style.color]="userData?.colors?.default" [style.font-size]="titleFontSize">E-ladesäulen</p>
            <p class="highlighted-text default-text-transform" [style.color]="userData?.colors?.secondary"
                [style.font-size]="numberFontSize">{{cars}} {{cars === 1 ? 'Auto' : 'Autos'}}</p>
            <p [style.color]="userData?.colors?.default" [style.font-size]="textFontSize">{{cars === 1 ? 'wird' : 'werden'}} aktuell geladen</p>
        </div>
    </div>
</div>
