$body-font-family: "Clear Sans";
$border-radius-root: 8px;

$base-spacing-value: 6px;
$base-top-spacing-value: calc($base-spacing-value + env(safe-area-inset-top));
$base-right-spacing-value: calc(
  $base-spacing-value + env(safe-area-inset-right)
);
$base-bottom-spacing-value: calc(
  $base-spacing-value + env(safe-area-inset-bottom)
);
$base-left-spacing-value: calc($base-spacing-value + env(safe-area-inset-left));
