@import "./src/ui/scss/variables";

.common-device-actions-item {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.common-device-actions {
  .v-list-item {
    min-height: 0 !important;
    padding: 0 !important;
  }
}
