<div class="box">
    <div class="flex box-content">
        <div class="width-30 image">
            <img src="assets/icons/pv-aggregated-carbon-savings.svg" alt="CO2 emissionsausgleich" />
        </div>
        <div class="width-70 flex flex-column center">
            <p class="mb-2" [style.font-size]="titleFontSize" [style.color]="userData?.colors?.default">CO2
                emissionsausgleich</p>
            <p class="highlighted-text default-text-transform" [style.font-size]="highlightedNumberFontSize"
                [style.color]="userData?.colors?.secondary">{{tons}} {{tons === 1 ? 'Tonne' : 'Tonnen'}} im Jahr {{getYear()}}</p>
            <p [style.color]="userData?.colors?.default" [style.font-size]="numberFontSize">{{kgs}} kg
                heute</p>
        </div>
    </div>
</div>
