version: "3.7"
services:
  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./config:/mosquitto/config:rw

volumes:
  config:

networks:
  default:
    name: mqtt
