@import "variables";
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body,
app-root {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.default-text-transform {
  text-transform: none;
}

p {
  margin: 0;
  text-transform: uppercase;
  color: var(--default);
  overflow-wrap: anywhere;
}

.background {
  background-color: var(--primary);
  border-radius: 10px;
  padding: 2%;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.box {
  width: calc(100% - 2 * 10px);
  height: calc(100% - 2 * 10px);
  margin: auto;
}

.box-content {
  border-radius: 10px;
  border: 1px solid var(--default);
  height: calc(100% - 2 * 10px);
  padding: 10px;
  width: calc(100% - 2 * 10px);
}

.highlighted-text {
  color: var(--secondary);
}

.dark-text {
  color: var(--primary);
}

.text-right {
  text-align: right;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.min-height-width-reset {
  min-width: 0;
  min-height: 0;
}

.image {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 100%;
  height: auto;
  max-width: 70%;
  width: auto;
}

.mb-2 {
  margin-bottom: 2%;
}

.mr-2 {
  margin-right: 2%;
}

.mt-2 {
  margin-top: 2%;
}

@media only screen and (max-height: 650px) {
  .box-content {
    height: calc(100% - 2 * 5px);
    padding: 5px;
    width: calc(100% - 2 * 5px);
  }
}

.grid {
  display: grid;
}
