---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: lynus
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: lynus
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      imagePullSecrets:
        - name: ghcr
      securityContext:
        fsGroup: 472
      containers:
        - name: grafana
          image: ghcr.io/efficientio/efficientio/grafana:TAG
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
          imagePullPolicy: Always
          env:
            - name: DOMAIN
              valueFrom:
                secretKeyRef:
                  key: DOMAIN
                  name: lynus-credentials
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: GRAFANA_ADMIN_PASSWORD
                  name: lynus-credentials
            - name: GF_UNIFIED_ALERTING_ENABLED
              value: "true"
            - name: GF_ALERTING_ENABLED
              value: "false"
            - name: GF_DEFAULT_FORCE_MIGRATION
              value: "true"
            - name: GF_SERVER_DOMAIN
              value: monitoring.$(DOMAIN)
            - name: GF_SERVER_ROOT_URL
              value: https://monitoring.$(DOMAIN):443/
            - name: POSTGRES_ADDRESS
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_ADDRESS
                  name: lynus-credentials
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PORT
                  name: lynus-credentials
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_USERNAME
                  name: lynus-credentials
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PASSWORD
                  name: lynus-credentials
            - name: POSTGRES_SSLMODE
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_SSLMODE
                  name: lynus-credentials
            - name: TEAMS_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  key: TEAMS_WEBHOOK_URL
                  name: lynus-credentials
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana-pv
      volumes:
        - name: grafana-pv
          persistentVolumeClaim:
            claimName: grafana-pvc

      nodeSelector:
        nodetype: large
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: lynus
  labels:
    app: grafana
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
