<div class="box">
    <div class="flex box-content">
        <div class="width-30 image">
            <img src="assets/icons/ws-average-room-temperature.svg" alt="Aktuelle innenraumtemperatur" />
        </div>
        <div class="width-70 flex flex-column center">
            <p [style.font-size]="titleFontSize" [style.color]="userData?.colors?.default">aktuelle
                innenraumtemperatur</p>
            <p class="highlighted-text" [style.font-size]="numberFontSize" [style.color]="userData?.colors?.secondary">
                {{temperature}}°C</p>
        </div>
    </div>
</div>