#cover {
  background-image: url("../img/background.jpg") !important;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group input {
  border-radius: 6px !important;
}

#content {
  background-color: white;
  padding: 36px;
  overflow-y: auto;
  border-radius: 16px;
}

@media only screen and (max-width: 600px) {
  #content {
    padding: 0 36px;
  }

  #cover {
    background-image: none !important;
    background-color: white !important;
  }
}

#kc-info {
  margin-top: 12px;
}

#kc-login {
  margin-top: 24px;
  margin-bottom: 0;
}

#kc-header-wrapper {
  margin: 36px 0;
}

/*a simple custom class for button margins (login, register, etc.)*/
.btn-custom-margin {
  margin: 8px 0;
}

#logo {
  width: 100%;
  height: 100px;
}

#account-logo {
  height: 32px;
  width: auto;
}
