:host {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo {
    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 1%;
    width: 20%;
    text-align: center;

    img {
        width: 50%;
    }

}

.date {
    margin-left: auto;
}

.header {
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
}

.grid {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.tile {
    position: absolute;
    display: flex;
}

.content {
    height: 80vh;
    width: 90%;
    position: absolute;
    overflow: hidden;
}

.carousel-indicators {
    justify-content: center;
    max-height: 5vh;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px 6px;
    background-color: var(--default);
}

.active {
    background-color: var(--secondary);
}

.container {
    margin: 0 4%;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}
