{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Admin Console</title>
    <link href="/static/bootstrap.css" rel="stylesheet" />
  </head>
  <style>
    th {
      border-bottom-color: #dee2e6 !important;
    }

    nav a {
      font-size: 18px;
      color: white;
      text-decoration: none;
      margin-right: 8px;
    }
  </style>
  <body class="bg-light">
    <nav class="bg-dark fixed-top py-2">
      <div class="container">
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <!-- <a href="/monitoring">Monitoring</a> -->
      </div>
    </nav>
    <div class="container" style="margin-top: 4rem">{{end}}</div>
  </body>
</html>
