:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box-content {
  text-transform: uppercase;
  align-items: center;
  line-height: 1;
}

.margin-right {
  margin-right: 10px;
}

.project-total {
  flex: 1;
  text-align: center;
}

.state {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  color: #92d050;
}

.yellow {
  color: #ffc000;
}

.red {
  color: #fe0000;
}

.columns {
  width: 100%;
  display: flex;
  gap: 10px;
}
