apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-console
  namespace: lynus
  labels:
    app: admin-console
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-console
  template:
    metadata:
      labels:
        app: admin-console
    spec:
      imagePullSecrets:
        - name: ghcr
      containers:
        - name: admin-console
          image: ghcr.io/efficientio/efficientio/admin:TAG
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
          ports:
            - containerPort: 8000
          imagePullPolicy: Always
          env:
            - name: DB_ADDR
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_ADDRESS
                  name: lynus-credentials
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PORT
                  name: lynus-credentials
            - name: DB_NAME
              value: lynus
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_USERNAME
                  name: lynus-credentials
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PASSWORD
                  name: lynus-credentials
            - name: DB_MODE
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_SSLMODE
                  name: lynus-credentials
            - name: KEYCLOAK_ADDR
              value: http://keycloak
            - name: DOMAIN
              valueFrom:
                secretKeyRef:
                  key: DOMAIN
                  name: lynus-credentials
            - name: KEYCLOAK_USERNAME
              valueFrom:
                secretKeyRef:
                  key: KEYCLOAK_USERNAME
                  name: lynus-credentials
            - name: KEYCLOAK_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: KEYCLOAK_PASSWORD
                  name: lynus-credentials
            - name: ADMIN_USERNAME
              value: admin
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: ADMIN_CONSOLE_PASSWORD
                  name: lynus-credentials
      nodeSelector:
        nodetype: large
---
apiVersion: v1
kind: Service
metadata:
  name: admin-console
  namespace: lynus
spec:
  selector:
    app: admin-console
  ports:
    - port: 80
      targetPort: 8000
  type: ClusterIP
