apscheduler==3.10.4
cvxopt==1.3.2
deadpool-executor==2023.7.6
dill==0.3.7
gekko==1.0.6
holidays==0.35
minio==7.1.17
mypy==1.6.1
numpy==1.26.1
optuna==3.3.0
paho-mqtt==1.6.1
pandas-stubs==2.1.1.230928
pandas==2.1.1
paramiko==3.3.1
prometheus_client==0.20.0
psutil==5.9.6
psycopg[binary,pool]==3.1.12
pytz==2023.3.post1
requests==2.31.0
rrcf==0.4.4
sanic-cors==2.2.0
sanic==23.6.0
scikit-learn==1.3.1
scipy==1.11.3
simple-pid==2.0.0
six==1.16.0
types-paho-mqtt==1.6.0.7
types-paramiko==3.3.0.0
types-pytz==2023.3.1.1
types-requests==2.31.0.10
types-urllib3==1.26.25.14
urllib3==2.0.7
xgboost==2.0.0
pika==1.3.2
debugpy==1.8.1
