apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis
  namespace: lynus
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: lynus
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: library/redis:7.2.3-alpine3.19
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
          command:
            - redis-server
          args:
            - --port 6379
            - --appendonly yes
            - --maxclients 10000
            - --timeout 60
            - --tcp-keepalive 60
            - --save ""
          imagePullPolicy: Always
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /data
              name: data
        - name: exporter
          image: oliver006/redis_exporter:v1.55.0-alpine
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
          imagePullPolicy: Always
          env:
            - name: REDIS_ADDR
              value: redis://redis:6379
          ports:
            - containerPort: 9121
      nodeSelector:
        nodetype: large
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: redis
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: lynus
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
    - port: 9121
      targetPort: 9121
      name: exporter
  type: ClusterIP
