:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.graph {
    margin-right: 2%;
    border-bottom: 40px solid var(--secondary);
    border-right: 30px solid transparent;
}

.margin {
    margin: auto 0;
}

.row {
    align-items: center;

    overflow: hidden;
}