sinergym # for simulating buildings
pyenergyplus-lbnl # for the simulator communication
reactivex # for reactive programming
simple-pid # for controlling
scipy # for data manipulation
optuna # for finding controller parameters
holidays # for knowing which days are holidays
jupyter # for using notebooks
matplotlib # for visualizing data
stable-baselines3 # for reinforcement learning
epw@ git+https://github.com/building-energy/epw.git@master # for handling EPW files
pytz # for handling timezones
