<div class="box">
    <div class="flex box-content flex-column center">
        <div class="width-30 image mb-2">
            <img src="assets/icons/pv-aggregated-current-power-symbolic.svg" alt="LED lampen" />
        </div>
        <p [style.font-size]="fontSize" [style.color]="userData?.colors?.default">Aktuell {{led === 1 ? 'könnte' : 'könnten'}}
            {{led}} {{led === 1 ? 'LED-Lampe' : 'LED-Lampen'}} mit einer leistung von {{led === 1 ? '' : 'jeweils'}} 10 W betrieben werden</p>
    </div>
</div>
