<div class="box">
    <div class="flex box-content">
        <div class="width-30 image">
            <img src="assets/icons/pv-aggregated-carbon-savings-symbolic.svg" alt="Carbon footprint" />
        </div>
        <div class="width-70 flex flex-column center">
            <p class="mb-2" [style.color]="userData?.colors?.default" [style.font-size]="titleFontSize">Carbon footprint
            </p>
            <div class="flex">
                <div class="width-50">
                    <p [style.color]="userData?.colors?.default" [style.font-size]="textFontSize">
                        DIESES JAHR</p>
                    <p class="highlighted-text default-text-transform" [style.color]="userData?.colors?.secondary"
                        [style.font-size]="numberFontSize">
                        {{overall}} {{overall === 1 ? 'Baumjahr' : 'Baumjahre'}}</p>
                </div>
                <div class="width-50">
                    <p [style.color]="userData?.colors?.default" [style.font-size]="textFontSize">
                        heute</p>
                    <p class="highlighted-text default-text-transform" [style.color]="userData?.colors?.secondary"
                        [style.font-size]="numberFontSize">
                        {{today}} {{today === 1 ? 'Baumjahr' : 'Baumjahre'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
