<div class="box">
  <div class="flex box-content">
    <div class="width-30 image">
      <img
        src="assets/icons/pv-aggregated-current-power.svg"
        alt="Aktuelle Leistung"
      />
    </div>
    <div class="width-70 flex flex-column center height-100">
      <div class="width-100">
        <p
          [style.color]="userData?.colors?.default"
          [style.font-size]="textFontSize"
        >
          Vom Netz verbraucht
        </p>
        <p
          class="highlighted-text default-text-transform"
          [style.color]="userData?.colors?.secondary"
          [style.font-size]="numberFontSize"
        >
          {{ consumption }} kWh
        </p>
      </div>
    </div>
  </div>
</div>
