name: cluster_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "eneries"
        type: choice
        options:
          - all
          - eneries

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Deploy
        run: |
          cd scripts
          CLUSTER=${{ github.event.inputs.cluster }}
          python3 deploy_all_components_to_cluster.py --cluster ${CLUSTER:-"all"} --token ${{ env.ACTIONS_GITHUB_TOKEN }}
      
