name: console_preview_deployment

on:
  pull_request:
    types: [labeled]

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: (!contains(github.event.pull_request.labels.*.name, 'Preview Deployed'))
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Build
        run: |
          python3 scripts/build_and_push.py --registry "${{ env.REGISTRY }}" --user "${{ github.actor }}" --password "${{ secrets.GITHUB_TOKEN }}" --repository "${{ github.repository }}" --image "console" --sha "${{ steps.vars.outputs.sha_short }}" --context_path "." --dockerfile_path "console/Dockerfile" --replace_version "true"
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: contains(github.event.pull_request.labels.*.name, 'preview') && !contains(github.event.pull_request.labels.*.name, 'Preview Deployed')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Info
        run: |
          echo '###  Starting deployment of console :rocket:' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '- Cluster(s): DEV' >> $GITHUB_STEP_SUMMARY
          echo '- SHA: ${{ steps.vars.outputs.sha_short }}' >> $GITHUB_STEP_SUMMARY
          echo ::notice::'Deploying to development'

      - uses: efficientIO/keepass-to-environment@v1.2
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Deploy
        run: |
          python3 scripts/deploy_and_restart.py --cluster "dev" --deployment_file "console/deployment.preview.yaml" --replace_instancepool_id --replace_domain --replace_tag --sha "${{ steps.vars.outputs.sha_short }}" --namespace_name "lynus" --restart_mode "no"
      - name: Success notification
        uses: ./.github/actions/teams_notification_success
        if: success()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
        env:
          IMAGE_NAME: console-preview
      - name: Failure notification
        uses: ./.github/actions/teams_notification_failure
        if: failure()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
        env:
          IMAGE_NAME: console-preview
  comment:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Comment
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Deployed Preview :rocket:
              It can be accessed [here](https://console-preview-${{ steps.vars.outputs.sha_short }}.dev.efficientio.io)
              `
            })
      - name: Add labels
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['Preview Deployed', 'Tag:${{ steps.vars.outputs.sha_short }}']
            })
