name: console_preview_deployment_cleanup

on:
  pull_request:
    types: [unlabeled, closed]

env:
  REGISTRY: ghcr.io

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'Preview Deployed')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get PR labels and set env variable
        uses: actions/github-script@v5
        id: pr-labels
        with:
          script: |
            const issue = await github.rest.issues.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number
            });
            const labels = issue.data.labels.map(label => label.name);
            const tagLabel = labels.find(label => label.startsWith('Tag:'));
            console.log(tagLabel)
            const tagValue = tagLabel ? tagLabel.split(':')[1].trim() : '';
            return tagValue;
        env:
          TAG_VALUE: ${{ steps.pr-labels.outputs.result }}
      - name: Info
        run: |
          echo '###  Deleting deployment of console' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '- Cluster(s): DEV' >> $GITHUB_STEP_SUMMARY
          echo '- Tag: ${{ steps.pr-labels.outputs.result }}' >> $GITHUB_STEP_SUMMARY
          echo ::notice::'Deletin from development'

      - uses: efficientIO/keepass-to-environment@v1.2
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Delete deployment
        run: |
          python3 scripts/deploy_and_restart.py --cluster "dev" --deployment_file "console/deployment.preview.yaml" --replace_instancepool_id --replace_domain --replace_tag --sha "${{ steps.pr-labels.outputs.result }}" --resource_name "console" --namespace_name "lynus" --restart_mode "delete" --apply_only_on_changes
      - name: Delete secret
        run: |
          python3 scripts/delete-secret.py --cluster "dev" --namespace_name "lynus" --secret "console-preview-${{ steps.pr-labels.outputs.result }}-tls-secret"
      - name: Success notification
        uses: ./.github/actions/teams_notification_success
        if: success()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
        env:
          IMAGE_NAME: console-preview-cleanup
      - name: Failure notification
        uses: ./.github/actions/teams_notification_failure
        if: failure()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
        env:
          IMAGE_NAME: console-preview-cleanup
  comment:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'Preview Deployed')
    needs: deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Comment
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Deleted Preview :+1:
              `
            })
      - name: Delete deployed label
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'Preview Deployed'
            })
      - name: Delete tag label
        uses: actions/github-script@v7
        with:
          script: |
            const issue = await github.rest.issues.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number
              });
              const labels = issue.data.labels.map(label => label.name);
              const tagLabel = labels.find(label => label.startsWith('Tag:'));
              const tagValue = tagLabel ? tagLabel.split(':')[1].trim() : '';
              console.log(tagValue)
            github.rest.issues.deleteLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: `Tag:${tagValue}`
            })
      - name: Failure notification
        uses: jdcargile/ms-teams-notification@v1.4
        if: failure()
        with:
          github-token: ${{ github.token }} # this will use the runner's token.
          ms-teams-webhook-uri: ${{ inputs.notification-uri }}
          notification-summary: "\U0001F691 FAILURE Deleting Labels"
          notification-color: dc3545
          timezone: Europe/Vienna
          verbose-logging: false
        env:
          IMAGE_NAME: console-preview-cleanup-comments
  deletePreviewLabel:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'preview')
    needs: comment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Delete deployed label
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'preview'
            })
      - name: Info
        run: |
          echo ::notice::'Deleted Preview Label'
