name: label_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "eneries"
        type: choice
        options:
          - all
          - eneries

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.inputs.cluster }}
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Label all nodes in our clusters
        run: |
          python3 scripts/label_nodes.py --cluster "${{ steps.string.outputs.lowercase }}"
      
