name: nginx_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "eneries"
        type: choice
        options:
          - all
          - eneries
          - peneder

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.inputs.cluster }}
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Delete old deployment
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/old.yaml" --replace_instancepool_id --restart_mode "delete" --apply_only_on_changes  --resource_name "nginx" --namespace_name "lynus" --no-replace_tag --sha "${{ github.sha }}"
      - name: Deploy mqtt ssl proxy
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/mqtt-ssl-proxy.yaml" --restart_mode "rolling" --apply_only_on_changes  --resource_name "mqtt-ssl-proxy" --namespace_name "lynus" --no-replace_tag --sha "${{ github.sha }}"
      - name: Deploy ingress
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/ingress.yaml" --replace_instancepool_id --restart_mode "no" --apply_only_on_changes  --resource_name "ingress-nginx" --namespace_name "ingress-nginx" --sha "${{ github.sha }}"
      - name: Deploy cert-manager
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/cert-manager.yaml" --restart_mode "no" --apply_only_on_changes --resource_name "cert-manager" --namespace_name "cert-manager" --sha "${{ github.sha }}"
      - name: Deploy cert issuer
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/prod-issuer.yaml" --restart_mode "no" --apply_only_on_changes --resource_name "cert-manager" --namespace_name "cert-manager" --sha "${{ github.sha }}"
      - name: Deploy ingress objects
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/nginx/reverse-proxy.yaml" --replace_domain --restart_mode "no" --apply_only_on_changes --resource_name "reverse-proxy" --namespace_name "ingress-nginx" --sha "${{ github.sha }}"
