name: postgres_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "eneries"
        type: choice
        options:
          - all
          - eneries
          - peneder

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Info
        run: |
          echo '###  Starting deployment of database :rocket:' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '- Cluster(s): ${{ github.event.inputs.cluster }}' >> $GITHUB_STEP_SUMMARY
          echo '- SHA: ${{ github.sha }}' >> $GITHUB_STEP_SUMMARY
          if [  ${{ github.event.inputs.cluster }} = 'dev' ] ; then
            echo ::notice::'Deploying to development'
          else 
            echo ::warning::'Deploying to production'
          fi
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.inputs.cluster }}
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Deploy
        run: |
          python3 scripts/deploy_and_restart.py --cluster "${{ steps.string.outputs.lowercase }}" --deployment_file "infrastructure/deployment/postgres/deployment.yaml" --no-replace_tag --sha "${{ github.sha }}" --resource_name "postgres" --namespace_name "lynus" --restart_mode "full" --apply_only_on_changes --replace_resources_big_services
      
