name: realm_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "wec"
        type: choice
        options:
          - all
          - eneries
          - peneder
          - wec

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.inputs.cluster }}
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Update the keycloak realms according to the configs in keepass
        run: |
          python3 scripts/configure_keycloak_realm.py --cluster "${{ steps.string.outputs.lowercase }}" --no-add_host_to_keystore
      
