name: terraform_ci_cd

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: "kubernetes cluster to deploy to"
        required: true
        default: "eneries"
        type: choice
        options:
          - all
          - eneries

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.event.inputs.cluster }}
      - uses: eneries/keepass2env@v1
        with:
          keepass-file-path: "keepass/secrets.kdbx"
          keepass-master-password: ${{ secrets.KEEPASS_MASTER_PASSWORD }}
          keepass-group-filter: "cloud"
      - name: Deploy
        run: |
          python3 scripts/check_terraform.py --cluster "${{ steps.string.outputs.lowercase }}"
      - name: Success notification
        uses: ./.github/actions/teams_notification_success
        if: success()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
      - name: Failure notification
        uses: ./.github/actions/teams_notification_failure
        if: failure()
        with:
          notification-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI_DEPLOYMENTS }}
